@import './base.css';

body {
  background-color: #ffffff;
}

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
